<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="emailServer" value="HAVVCAS001.havana.intl.local" />
    <add key="emailUser" value="jd.santana" />
    <add key="emailAddress" value="jd.santana@bouygues.cu" />
    <add key="emailPassword" value="Bouygues1" />
    <add key="emailDefaultAddress" value="" />
    <add key="domainServer" value="havana.intl.local" />
    <add key="updateHome" value="True" />
    <add key="updateNumericParameters" value="False" />
    <add key="excelTemplate" value="Z:\10-BIM REVIT\00 - Admin - BIM MANAGER BBI\03_Metodología\01_Directorio\BIM Proyecto\01 Doc graficos\18 Tabla de areas\COD.D01.AREAS.xlsx" />
  </appSettings>
  
</configuration>